extends layout
block content
  .weui_cells_title 请粘贴分享链接
  .weui_cells.weui_cells_form
    .weui_cell
      .weui_cell_hd
        label.weui_label 链接
      .weui_cell_bd.weui_cell_primary
        input.weui_input#link(type='text',placeholder='请输入链接')
  a.weui_btn.weui_btn_primary#add 提交
block local_js
    script(src='/javascripts/add.js')
